body {
	padding: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
p,ul {
	margin-bottom: 10px;
}
ul {
	margin: 20px;
}

h1{
	font-size: 32px;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 18px;
	margin-left: 20px;
}

a:link, a:visited{
	color: #03C;
}